<launch>

	<!--	###################	PITT PARAMETERS	#########################	(do not put any " " on values) -->	
			 
	<!-- 			ARGS TO THAT CANNOT BE CHANGED AFTER LAUNCH (comment (or ".") (or <0.0f) (or ) for defaults values)	-->

	<param name="/pitt/ref_frame/input_cloud" type="str" value= "/cameraB_depth_optical_frame" /> 		<!-- default: "/camera_depth_optical_frame" (used by obj_segmentation node)	-->
	<param name="/pitt/ref_frame/output_cloud" type="str" value= "." />							 		<!-- default: "/world" (used by obj_segmentation node)						-->
	<param name="/pitt/service/deep_filter/z_threshold" type="double" value= "1.5" />					<!-- default: 3.0 (used by obj_segmentation node to call deep filter server)-->
	
	<param name="/pitt/srv/arm_filter/min_forearm_box" value=""/>							<!-- default:[-0.040, -0.120, -0.190] -->
	<param name="/pitt/srv/arm_filter/max_forearm_box" value=""/>							<!-- default:[0.340,  0.120,  0.105]  -->
	<param name="/pitt/srv/arm_filter/min_elbow_box" value=""/>								<!-- default:[-0.090, -0.135, -0.160] -->
	<param name="/pitt/srv/arm_filter/max_elbow_box" value=""/>								<!-- default:[ 0.440,  0.135,  0.110] -->

	<param name="/pitt/srv/cluster_segmentation/tolerance" value=""/>                        <!-- default:[0.03] -->
	<param name="/pitt/srv/cluster_segmentation/min_rate" value=""/>                         <!-- default:[0.01] -->
	<param name="/pitt/srv/cluster_segmentation/max_rate" value=""/>                         <!-- default:[0.99] -->
	<param name="/pitt/srv/cluster_segmentation/min_input_size" value=""/>                   <!-- default:[30] -->

	<param name="/pitt/srv/sphere_segmentation/normal_distance_weight" value=""/>             <!-- default:[0.001] -->
	<param name="/pitt/srv/sphere_segmentation/distance_th" value=""/>                       <!-- default:[0.007] -->
	<param name="/pitt/srv/sphere_segmentation/max_iter_limit" value=""/>                    <!--  default:[1000] -->
	<param name="/pitt/srv/sphere_segmentation/min_radius_limit" value=""/>                  <!-- default:[0.005] -->
	<param name="/pitt/srv/sphere_segmentation/max_radius_limit" value=""/>                  <!-- default:[0.500] -->
	<param name="/pitt/srv/sphere_segmentation/eps_angle_th" value=""/>                      <!--  default:[0.0]  -->
	<param name="/pitt/srv/sphere_segmentation/min_opening_angle_deg" value=""/>             <!-- default:[100.0] -->
	<param name="/pitt/srv/sphere_segmentation/max_opening_angle_deg" value=""/>             <!-- default:[180.0] -->
	<param name="/pitt/srv/sphere_segmentation/min_inliers" value=""/>                       <!--  default:[40]   -->

	<param name="/pitt/srv/cylinder_segmentation/normal_distance_weight" value=""/>          <!-- default:[0.001] -->
    <param name="/pitt/srv/cylinder_segmentation/distance_th" value=""/>                     <!-- default:[0.008] -->
    <param name="/pitt/srv/cylinder_segmentation/max_iter_limit" value=""/>                  <!--  default:[1000] -->
  	<param name="/pitt/srv/cylinder_segmentation/min_radius_limit" value=""/>                <!-- default:[0.005] -->
   	<param name="/pitt/srv/cylinder_segmentation/max_radius_limit" value=""/>                <!-- default:[0.500] -->
   	<param name="/pitt/srv/cylinder_segmentation/eps_angle_th" value=""/>                    <!-- default:[0.0001] -->
   	<param name="/pitt/srv/cylinder_segmentation/min_opening_angle_deg" value=""/>           <!-- default:[50.0]  -->
    <param name="/pitt/srv/cylinder_segmentation/max_opening_angle_deg" value=""/>           <!-- default:[180.0] -->
    <param name="/pitt/srv/cylinder_segmentation/min_inliers" value=""/>                     <!--  default:[40]  -->

    <param name="/pitt/srv/cone_segmentation/normal_distance_weight" value=""/>              <!-- default:[0.0006] -->
    <param name="/pitt/srv/cone_segmentation/distance_th" value=""/>                         <!-- default:[0.0055] -->
    <param name="/pitt/srv/cone_segmentation/max_iter_limit" value=""/>                      <!-- default:[1000] -->
    <param name="/pitt/srv/cone_segmentation/min_radius_limit" value=""/>                    <!-- default:[0.001] -->
    <param name="/pitt/srv/cone_segmentation/max_radius_limit" value=""/>                    <!-- default:[0.500] -->
    <param name="/pitt/srv/cone_segmentation/eps_angle_th" value=""/>                        <!-- default:[0.4] -->
    <param name="/pitt/srv/cone_segmentation/min_opening_angle_deg" value=""/>               <!-- default:[10.0] -->
    <param name="/pitt/srv/cone_segmentation/max_opening_angle_deg" value=""/>               <!-- default:[170.0] -->
    <param name="/pitt/srv/cone_segmentation/min_inliers" value=""/>                         <!-- default:[40] -->

    <param name="/pitt/srv/plane_segmentation/normal_distance_weight" value=""/>             <!-- default:[0.001] -->
    <param name="/pitt/srv/plane_segmentation/distance_th" value=""/>                        <!-- default:[0.007] -->
    <param name="/pitt/srv/plane_segmentation/max_iter_limit" value=""/>                     <!-- default:[1000] -->
    <param name="/pitt/srv/plane_segmentation/eps_angle_th" value=""/>                       <!-- default:[0.0] -->
    <param name="/pitt/srv/plane_segmentation/min_opening_angle_deg" value=""/>              <!-- default:[0.0] -->
    <param name="/pitt/srv/plane_segmentation/max_opening_angle_deg" value=""/>              <!-- default:[10.0] -->
    <param name="/pitt/srv/plane_segmentation/min_inliers" value=""/>                        <!-- default:[40] -->

    <param name="/pitt/srv/geometric_tracker/tracker_forget_threshold" value=""/>            <!-- default:[3] -->
    <param name="/pitt/srv/geometric_tracker/range_threshold" value=""/>                     <!-- default:[0.2] -->
    <param name="/pitt/srv/geometric_tracker/confidence_weight_old" value=""/>               <!-- default:[0.6] -->
    <param name="/pitt/srv/geometric_tracker/confiddence_weight_new" value=""/>              <!-- default:[0.4] -->

    <param name="/pitt/srv/supports_segmentation/min_iter_cloud_percent" value=""/>
    <param name="/pitt/srv/supports_segmentation/min_iter_support_percent" value=""/>
    <param name="/pitt/srv/supports_segmentation/horizontal_variance_th" value=""/>
    <param name="/pitt/srv/supports_segmentation/in_shape_distance_th" value=""/>
    <param name="/pitt/srv/supports_segmentation/normal_distance_weight" value=""/>
    <param name="/pitt/srv/supports_segmentation/max_iter" value="" value=""/>
    <param name="/pitt/srv/supports_segmentation/horizontal_axis" value=""/>
    <param name="/pitt/srv/supports_segmentation/edge_remove_offset" value=""/>

	
	<!--			ARGS FOR OBJ_SEGMENTATION NODE	(considered only on launching)	("." for default)				--> 
	<arg name="pitt_input_cloud_topic" value= "/cameraB/depth/points" /> 			<!-- default: "/camera/depth/points"					-->
	<arg name="pitt_show_original_cloud" value="." /> 								<!-- default: "0" (false) [white ptn]					-->
	<arg name="pitt_show_supports" value="." /> 									<!-- default: "0" (false) [brown ptn]					-->
	<arg name="pitt_show_cluster" value="1" />		 								<!-- default: "0" (false) [random ptn]					-->
	<arg name="pitt_show_object_on_support" value="." /> 							<!-- default: "0" (false) [orange ptn]					-->
	<arg name="pitt_raw_centroid_log_file_path" value="." /> 						<!-- default: "" (do not print)							-->
		  					<!-- set to: ".." for timed formatting name (works only at the end of the path) or set to any other paths.
		  						 ExAMPLE <arg name="pitt_raw_centroid_log_file_path" value="$(find pitt_object_table_segmentation)/logs/log-.." />  
		  					-->
							
	<arg name="pitt_arm_filter_show_cloud" value= "1" /> 										<!-- default:"0"(false)[red arm][green objs]-->
	<arg name="pitt_arm_filter_camera_frame" value= "/cameraB_depth_optical_frame" /> 			<!-- default: "/camera_depth_optical_frame"	-->
	<arg name="pitt_arm_filter_left_forearm_frame" value= "." /> 								<!-- default: "/left_lower_forearm"			-->
	<arg name="pitt_arm_filter_right_forearm_frame" value= "." /> 								<!-- default: "/right_lower_forearm"		-->
	<arg name="pitt_arm_filter_left_elbow_frame" value= "." /> 									<!-- default: "/left_lower_elbow"			-->
	<arg name="pitt_arm_filter_right_elbow_frame" value= "." /> 								<!-- default: "/right_lower_elbow"			-->


		<!--	###################	PITT LAUNCH #########################	-->

		<!-- 		    KINECT DRIVER LAUNCH	 																		-->
	<!-- <include file="$(find freenect_launch)/launch/freenect.launch"/> -->



		<!-- 			CLUSTER AND SUPPORT CONFIG																		-->
	<node name="deep_filter_srv" 				pkg="pitt_object_table_segmentation" 	type="deep_filter_srv" 				/> <!-- output="screen"/> -->
	<node name="arm_filter_srv" 				pkg="pitt_object_table_segmentation" 	type="arm_filter_srv" 				
			args=	"$(arg pitt_arm_filter_show_cloud)
					 $(arg pitt_arm_filter_camera_frame)
					 $(arg pitt_arm_filter_left_forearm_frame)
					 $(arg pitt_arm_filter_right_forearm_frame)
					 $(arg pitt_arm_filter_left_elbow_frame)
					 $(arg pitt_arm_filter_right_elbow_frame)"
		/> <!-- output="screen"/> -->
	<node name="supports_segmentation_srv" 		pkg="pitt_object_table_segmentation" 	type="supports_segmentation_srv" 	/> <!-- output="screen"/> -->
	<node name="cluster_segmentation_srv" 		pkg="pitt_object_table_segmentation" 	type="cluster_segmentation_srv"		/> <!-- output="screen"/> -->
	<node name="obj_segmentation" 				pkg="pitt_object_table_segmentation" 	type="obj_segmentation" 			
			output="screen"
			args=	"$(arg pitt_input_cloud_topic) 
					 $(arg pitt_show_original_cloud) 
					 $(arg pitt_show_supports) 
					 $(arg pitt_show_cluster) 
					 $(arg pitt_show_object_on_support)
					 $(arg pitt_raw_centroid_log_file_path)"
		/> 



		<!-- 			RANSAC CONFIG																					-->
	<node name="plane_segmentation_srv" 		pkg="pitt_object_table_segmentation" 	type="plane_segmentation_srv"		/> <!-- output="screen"/> -->
	<node name="sphere_segmentation_srv" 		pkg="pitt_object_table_segmentation" 	type="sphere_segmentation_srv" 		/> <!-- output="screen"/> -->
	<node name="cylinder_segmentation_srv" 		pkg="pitt_object_table_segmentation" 	type="cylinder_segmentation_srv" 	/> <!-- output="screen"/> -->
	<node name="cone_segmentation_srv" 			pkg="pitt_object_table_segmentation" 	type="cone_segmentation_srv" 		/> <!-- output="screen"/> -->
	<node name="ransac_segmentation" 			pkg="pitt_object_table_segmentation" 	type="ransac_segmentation" 			output="screen"/>



		<!--			TRACKER																							-->
	<node name="geometric_tracker" 				pkg="pitt_geometric_tracking" 			type="geometric_tracker" 			/> <!-- output="screen"/> -->

</launch>
